<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
    {{ script | safe }}
  </head>
  <body>
    <div class=page>
      <a href="https://github.com/ryanmdavis/BioTechTopics/blob/master/about_wwbt.ipynb">about</a>
      <h1>Who's Who in BioTech?</h1>
      <div class=query>
      	<form id='userinput' method='post' action='index'>
      		<p>
      			Query: <input type='text' name='query' value='{{ text_value }}'/>
      		</p>
      		
      	</form
      </div>
      {{ div | safe }}
      
      
    </div>
  </body>
</html>
